@import "~antd/dist/antd.less";

@alter-background-color: @layout-body-background;


.layout-top-layer{
    height: 100%;
}

.header-light{
    background: @alter-background-color !important;
    padding: 0 !important;
    width: 100% !important;
}

.header-white{
    background: @body-background !important;
    padding: 0 !important;
    width: 100% !important;
}

@header-height: 4rem;

.header-index-box-shadow{
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.header-index {
    height: @header-height;
    padding: 0 0.8rem;
    background: @alter-background-color;

    .header-index-trigger {
        height: @header-height;
        padding: 1.5rem 1.8rem;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .3s,padding 0s;
        &:hover{
            background: @alter-background-color;
        }
    }

    .header-index-right{
        float: right;
        height: 100%;
        overflow: hidden;
        .index-action{
            display: inline-block;
            height: 100%;
            padding: 0 1rem;
            cursor: pointer;
            transition: all .3s;
            font-size: 1rem;
            &:hover{
                background: @alter-background-color;
            }
        }
        .lang-select-dropdown{
            height: @header-height;
            vertical-align: top;
        }
    }
}

.header-index-center{
    text-align: center;
}
.header-title{
    font-size: 2.5rem;
    font-weight: 600;
}
.header-desc{
    color: @alert-text-color;
    margin: 0.8rem 0 3rem 0;
    font-size: 1rem;
    text-align: center;
}
.dropdown-menu{
    min-width: 11rem;
    li{
        font-size: @font-size-base;
    }
}

.loading-page{
    text-align: center;
    height: 100%;
    min-height: 30rem;
    padding-top: 7rem;
}